* {
  font-family: Arial, Helvetica, sans-serif;
  
}
.body {
    margin-left: 200px;
    background-color: #f0d2d1;
}
.select {
  background-color: #f6efa6;
}

.button {
  color: white;
  background-color: #66b3ba;
  border-radius: 15px;
  border-style: none;
  height: 20px;
  width: 70px;
}
.topPart {
    display: flex;
    flex-direction: column;
}

.image {
    height: 150px;
    width: 150px;
}

.rotate {
    transform: rotate(135deg);
}

.button2 {
  color: white;
  background-color: #42cafd;
  border-radius: 15px;
  border-style: none;
  height: 20px;
  width: 150px;
}

.hidden {
  display: none;
}
